:root {
  --geist-error: #e00;
  --geist-success: #0070f3;
  --geist-warning: #f5a623;
  --geist-violet: #7928ca;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-highlight-purple: #f81ce5;

  --geist-radius: 5px;

  --geist-gap-quarter: 6px;
  --geist-gap-half: 12px;
  --geist-gap: 24px;
  --geist-gap-double: 48px;

  --slidev-theme-primary: var(--geist-foreground);
}

/* 使用しないため */
/* html.light {
  --geist-background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-foreground: #000;
} */

html.dark {
  --geist-background: oklch(from #1f1f1f l c h);
  --accents-1: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 1)
    c
    h
  );
  --accents-2: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 2)
    c
    h
  );
  --accents-3: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 3)
    c
    h
  );
  --accents-4: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 4)
    c
    h
  );
  --accents-5: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 5)
    c
    h
  );
  --accents-6: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 6)
    c
    h
  );
  --accents-7: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 7)
    c
    h
  );
  --accents-8: oklch(
    from
    var(--geist-background)
    calc(l + (100% - l) / 9 * 8)
    c
    h
  );
  --geist-foreground: oklch(from var(--geist-background) 100% c h);
}

#slide-content {
  color: var(--accents-8);
  background-color: var(--geist-background);
}

body {
  @apply text-2xl;
}

.cover {
  @apply flex flex-col justify-center items-center text-center;

  h1 + p {
    @apply opacity-80;
  }
}

.slidev-layout {
  @apply mx-5vw mb-[2.5vw];

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl mb-10;
  }

  ol,
  ul {
    @apply list-inside;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  li > :is(ul, ol) {
    @apply ml-10;
  }

  li > p {
    @apply inline;
  }

  a {
    @apply text-blue-400 underline underline-offset-[0.2em] hover:text-blue-600;
  }
}

.inline-img {
  @apply max-w-none max-h-1lh w-auto h-1lh object-contain inline-block
    vertical-bottom;
}

tamu {
  /* らぷり公式サイトから */
  color: #ffed70;
}

nakutya {
  /* らぷり公式サイトから */
  color: #9adcff;
}
