body {
  --at-apply: text-2xl;
}

a {
  --at-apply: text-blue-400 underline underline-offset-[0.2em]
    hover:text-blue-600;
}

p {
  --at-apply: leading-relaxed;

  margin: 1rem 0;
}

strong {
  color: var(--accents-7);
}

ol,
ul {
  --at-apply: list-inside;
}

ol {
  --at-apply: list-decimal;
}

ul {
  --at-apply: list-disc;
}

li {
  --at-apply: my-2;
}

li > :is(ul, ol) {
  --at-apply: ml-10;
}

li > p {
  --at-apply: inline;
}
